body {
    background-color: #282828;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #458588;
    margin-left: 20px;
    text-shadow: 2px 2px black;
}

h2 {
    color: #d79921;
    margin-left: 20px;
    text-shadow: 2px 2px black;

}

h3 {
    color: #98971a;
    margin-left: 20px;
    text-shadow: 2px 2px black;
}

p {
    color: #a89984;
    margin-left: 20px;
    margin-right: 20px;
}

li {
    color: #b16286;
    margin-left: 20px;
}

hr {
    border-color: #cc241d;

}

a {
    color: #689d6a;
    /* text-shadow: 2px 2px black; */

}
